[submodule "src/idb.go"]
	path = src/idb.go
	url = https://github.com/snowyu/idb.go
[submodule "src/idb.py"]
	path = src/idb.py
	url = https://github.com/snowyu/idb.py
[submodule "src/idb.php"]
	path = src/idb.php
	url = https://github.com/clouddb/idb.php
